[Desktop Entry]
Name=AppIndicator Test
GenericName=Test
Comment=This is only a test
Exec=/usr/bin/false
Terminal=false
Type=Application
Actions=Short1;Short2;Short3;

[Desktop Action Short1]
Name=Shortcut 1
Exec=/usr/bin/true
OnlyShowIn=Test Program;

[Desktop Action Short2]
Name=Shortcut 2
Exec=/usr/bin/true
OnlyShowIn=Test Program;

[Desktop Action Short3]
Name=Shortcut 3
Exec=/usr/bin/true
OnlyShowIn=Test Program;
