Source: indicator-custom
Section: gnome
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.12.0),
               libdbus-glib-1-dev,
               gnome-doc-utils,
               scrollkeeper,
               intltool,
               libindicate-dev (>= 0.2.0),
               libindicate-gtk-dev (>= 0.2.0),
               libindicator-dev (>= 0.2.0~bzr301),
               libdbusmenu-gtk-dev (>= 0.1.1),
               libdbusmenu-glib-dev (>= 0.1.1)
Standards-Version: 3.8.0
Homepage: https://launchpad.net/cape-girardeau
Vcs-Bzr: http://bazaar.launchpa.net/~canonical-dx-team/cape-girardeau/karmic

Package: indicator-custom
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cape-girardeau project
 .
 This package is the cape-girardeau project

Package: libcustomindicator0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: cape-girardeau project
 .
 This package is the cape-girardeau project

Package: libcustomindicator-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdbus-glib-1-dev (>= 0.76)
Description: cape-girardeau project
 .
 This package is the cape-girardeau project

