Source: indicator-application
Section: gnome
Priority: optional
XS-Python-Version: all
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 5.0),
               cdbs (>= 0.4.41),
               libgtk2.0-dev (>= 2.12.0),
               libdbus-glib-1-dev (>= 0.82),
               libjson-glib-dev,
               gnome-doc-utils,
               gtk-doc-tools,
               intltool,
               python-all-dev,
               python-gtk2-dev,
               libindicate-dev (>= 0.2.0),
               libindicate-gtk-dev (>= 0.2.0),
               libindicator-dev (>= 0.3.14),
               libdbusmenu-gtk-dev (>= 0.2.2),
               libdbusmenu-glib-dev (>= 0.2.2),
               cli-common-dev (>= 0.5.7),
               mono-devel (>= 2.4.3),
               gtk-sharp2-gapi,
               libmono-dev,
               libnunit-cil-dev,
               libgtk2.0-cil-dev,
               gobject-introspection,
               libgirepository1.0-dev,
               gir1.0-glib-2.0,
               gir1.0-gtk-2.0,
               valac-0.12
Standards-Version: 3.8.4
Homepage: https://launchpad.net/indicator-application
Vcs-Bzr: http://bazaar.launchpad.net/~ubuntu-desktop/indicator-application/ubuntu

Package: python-appindicator
Section: python
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         libappindicator1 (= ${binary:Version}),
         python-gobject
Provides: ${python:Provides}
Description: Python bindings for libappindicator
 This package provides Python bindings so that you can use libappindicator from 
 a Python program.

Package: indicator-application
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.

Package: libappindicator1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: indicator-application (= ${binary:Version})
Description: Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.
 .
 This package contains shared libraries to be used by applications.

Package: libappindicator-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdbusmenu-glib-dev (>= 0.1.8),
         libdbus-glib-1-dev (>= 0.76),
         libappindicator1 (= ${binary:Version})
Description: Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.
 .
 This package contains files that are needed to build applications.

Package: libappindicator-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description:  Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.
 .
 This package contains developer documentation.

Package: libappindicator0.1-cil
Section: cli-mono
Architecture: all
Replaces: libappindicator0-cil (<= 0.0.19-0ubuntu4),
          libappindicator0.0-cil (<= 0.2.0-0ubuntu4)
Conflicts: libappindicator0-cil (<= 0.0.19-0ubuntu4)
Provides: libappindicator0.0-cil
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${cli:Depends}
Description: CLI bindings for libappindicator
 This package provides the appindicator-sharp assembly that allows CLI (.NET)
 programs to take menus from applications and place them in the panel.
 .
 This package contains assemblies to be used by applications.

Package: libappindicator0.1-cil-dev
Section: libdevel
Architecture: all
Replaces: libappindicator-cil-dev (<= 0.0.19-0ubuntu4)
Conflicts: libappindicator-cil-dev (<= 0.0.19-0ubuntu4)
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${cli:Depends},
         libappindicator0.1-cil (= ${binary:Version})
Description: Application Indicators
 A library and indicator to take menus from applications and place them in
 the panel.
 .
 This package contains files that are needed to build applications.

Package: gir1.0-appindicator-0.1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${gir:Depends}
Description: Typelib files for libappindicator1.
 .
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings.
