#!/usr/bin/make -f

DEB_SRCDIR = .
DEB_BUILDDIR = $(DEB_SRCDIR)/build

DEB_PYTHON_SYSTEM=pycentral
PY_VERSIONS = $(shell pyversions --requested debian/control)
export MONO_SHARED_DIR=$(CURDIR)
export CSC=/usr/bin/mono-csc

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools-vars.mk
include /usr/share/cdbs/1/rules/utils.mk

DEB_CONFIGURE_EXTRA_FLAGS += --enable-gtk-doc
API_VERSION = 0.1

DEB_DH_MAKESHLIBS_ARGS_libappindicator1 := -V 'libappindicator1 (>= 0.0.19)'

configure-stamp-%:
	mkdir build-$*
	cd build-$* && PYTHON=`which $*` \
		$(DEB_CONFIGURE_SCRIPT) $(DEB_CONFIGURE_NORMAL_ARGS) --srcdir=..
	touch $@

configure/python-appindicator:: $(addprefix configure-stamp-, $(PY_VERSIONS))

build-stamp-%:
	PYTHON=`which $*` \
		$(MAKE) -C build-$*
	touch $@

build/python-appindicator:: $(addprefix build-stamp-, $(PY_VERSIONS))

install-stamp-%:
	PYTHON=`which $*` \
		$(MAKE) -C build-$*/bindings/python install DESTDIR=$(CURDIR)/debian/tmp
	dh_installdirs -ppython-appindicator -s
	dh_install -ppython-appindicator -s
	touch $@

install/python-appindicator:: $(addprefix install-stamp-, $(PY_VERSIONS))

binary-predeb/python-appindicator::
	DH_PYCENTRAL=include-links dh_pycentral -ppython-appindicator -s

binary-install/libappindicator0.1-cil::
	dh_clistrip
	dh_clifixperms
	dh_makeclilibs -V
	dh_installcligac

binary-predeb/gir1.0-appindicator-0.1::
	dh_girepository -p$(cdbs_curpkg)

binary-predeb/libappindicator0.1-cil:: binary-fixup/libappindicator1
	dh_clideps -plibappindicator0.1-cil

configure-stamp:
	cd $(DEB_BUILDDIR) && \
		$(DEB_CONFIGURE_SCRIPT) $(DEB_CONFIGURE_NORMAL_ARGS) $(DEB_CONFIGURE_EXTRA_FLAGS)
	touch $@

configure/indicator-application:: configure-stamp

build-stamp:
	$(MAKE) -C $(DEB_BUILDDIR)
	touch $@

build/indicator-application:: build-stamp

install-stamp:
	$(MAKE) -C $(DEB_BUILDDIR) install DESTDIR=$(CURDIR)/debian/tmp
	touch $@

install/indicator-application:: install-stamp

binary-predeb/libappindicator1:: install-stamp
	dh_fixperms
	dh_strip

binary-post-install/indicator-application::
	find debian/indicator-application/usr/lib -name \*.la -exec rm {} \;
	find debian/indicator-application/usr/lib -name \*.a -exec rm {} \;

common-binary-predeb-arch:: list-missing

clean::
	-rm -rf $(addprefix build-, $(PY_VERSIONS))
	-rm -rf $(addprefix configure-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix build-stamp-, $(PY_VERSIONS))
	-rm -rf $(addprefix install-stamp-, $(PY_VERSIONS))
	rm -rf $(MONO_SHARED_DIR)/.wapi

